######################
.DS_Store
*.docx

# VSC
/.vscode
Projekt1/code/.vscode
!Projekt1/code/.vscode/settings.json
!Projekt1/code/.vscode/tasks.json
!Projekt1/code/.vscode/launch.json
!Projekt1/code/.vscode/extensions.json
!Projekt1/code/.vscode/*.code-snippets
Projekt2/code/.vscode
!Projekt2/code/.vscode/settings.json
!Projekt2/code/.vscode/tasks.json
!Projekt2/code/.vscode/launch.json
!Projekt2/code/.vscode/extensions.json
!Projekt2/code/.vscode/*.code-snippets

# Local History for Visual Studio Code
Projekt1/code/.history/
Projekt2/code/.history/

# Built Visual Studio Code Extensions
*.vsix

# Executable files
Projekt1/code/lista
Projekt2/code/proj
Projekt3/code/p3
*.exe